<section class=" bg-image">

    <div class="card" style="border-radius: 15px;">
        <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-5">Añadir barcos</h2>
            
            <form class="form-horizontal" [formGroup]="myForm" autocomplete="off" (ngSubmit)="save()">

                <div class="form-outline mb-4">
                    <label
                    class="form-label" for="form3Example4cg"> Patron</label>
                    <select formControlName="idPatron" id="idPatron" class="form-control form-control-lg">
                        <option value="" selected>Elige una opción</option>
                        <option [value]="patron.id" *ngFor="let patron of patrones">{{patron.nombre}}</option>

                    </select>
                </div>
                <div class="form-outline mb-4">
                    <label
                    class="form-label" for="form3Example4cg"> Barco </label>
                    <select formControlName="numMatricula" id="numMatricula" class="form-control form-control-lg">
                        <option value="" selected>Elige una opción</option>
                        <option [value]="barco.numMatricula" *ngFor="let barco of barcos">{{barco.nombre}}</option>

                    </select>
                </div>
                
                <div class="d-flex justify-content-center">
                    <button type="submit"
                        class="btn btn-dark btn-block btn-lg gradient-custom-4">Add</button>
                </div>
            </form>

        </div>
    </div>

</section>